<settings version="2">
    <setting id="VERSION">2.4.0</setting>
    <setting id="MANUAL_ID" default="true">1</setting>
    <setting id="FOLDER">special://home/custom/</setting>
    <setting id="HOTKEY" default="true" />
    <setting id="CACHE" default="true">0</setting>
    <setting id="DEBUG" default="true">false</setting>
    <setting id="ALPHA_SORT" default="true">false</setting>
    <setting id="LABEL_NUMERIC" default="true">false</setting>
    <setting id="LABEL_NUMERIC_QL" default="true">false</setting>
    <setting id="SHOWNEW">false</setting>
    <setting id="SHOWXBMC">false</setting>
    <setting id="SHOWSEP" default="true">false</setting>
    <setting id="SHOWUNAVAIL" default="true">false</setting>
    <setting id="SHOWIMPORT" default="true">false</setting>
    <setting id="INHERIT">true</setting>
    <setting id="SHOW_FANART">true</setting>
    <setting id="DEFAULT_FANART">1</setting>
    <setting id="DEFAULT_IMAGE">special://home/custom/defaultwallpaper.jpg</setting>
    <setting id="ART_LANDSCAPE" default="true">0</setting>
    <setting id="ART_BANNER" default="true">0</setting>
    <setting id="ART_POSTER" default="true">0</setting>
    <setting id="SHOW_STARTUP_TXT" default="true">false</setting>
    <setting id="STARTUP_TXT" />
    <setting id="DISABLEMOVIEVIEW" default="true">false</setting>
    <setting id="CONTENTTYPE" default="true" />
    <setting id="VIEWTYPE" default="true">0</setting>
    <setting id="MENU_MSG">false</setting>
    <setting id="CONTEXT" default="true">true</setting>
    <setting id="CONTEXT_STD" default="true">false</setting>
    <setting id="CONTEXT_STYLE">1</setting>
    <setting id="MENU_EDITFAVE" default="true">false</setting>
    <setting id="WHITELIST" default="true" />
    <setting id="MENU_ADDTOFAVES">true</setting>
    <setting id="ADDTOFAVES_ON_STD">true</setting>
    <setting id="MENU_PREV_LOCN">true</setting>
    <setting id="MENU_SF_SETTINGS">false</setting>
    <setting id="MENU_ADDON_SETTINGS">false</setting>
    <setting id="MENU_STD_MENU">false</setting>
    <setting id="DOWNLOAD_ON_STD" default="true">false</setting>
    <setting id="SHOWSS">false</setting>
    <setting id="CONTEXTSS" default="true">false</setting>
    <setting id="SHOWREMEMBER">true</setting>
    <setting id="SHOWRECOMMEND">true</setting>
    <setting id="CONTEXTRECOMMEND" default="true">false</setting>
    <setting id="METARECOMMEND">true</setting>
    <setting id="SYNOPSRECOMMEND">true</setting>
    <setting id="RECOMMENDFIRST" default="true">false</setting>
    <setting id="CACHERECOMMEND">true</setting>
    <setting id="STRIPNUMBERS">true</setting>
    <setting id="SHOWIEXPLORE">false</setting>
    <setting id="SHOWIPLAY">false</setting>
    <setting id="COPY_PLAYLISTS" default="true">false</setting>
    <setting id="ALLOW_PLAYLIST_DELETE" default="true">false</setting>
    <setting id="AUTOSTART" default="true">false</setting>
    <setting id="PLAY_PLAYLISTS">false</setting>
    <setting id="REMOTE" default="true">false</setting>
    <setting id="LOCATION" default="true" />
    <setting id="IMPORT_RESET" default="true">false</setting>
</settings>
